<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8" />
<title>Config'Switch</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Choix de l'utilisateur</div>
				<div class="panel-body">
					<form th:action="@{/consulterSwitch}" method="get">
						<div>
							<label>Adresse Switch : </label> <input type="text"
								name="adresseSwitch" th:value="${adresseSwitch}"
								placeholder="172.31.10.1" />
							<button type="submit" class="btn btn-primary">Ok</button>
						</div>
					</form>
					<div class="text-danger" th:if="${exception}"
						th:text="${exception.message}"></div>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${switche}">
				<div class="panel-heading">Informations sur le switch</div>
				<div class="panel-body">
					<div>
						<label>Nom : </label> <label th:text="${switche.nameSwitch}"></label>
					</div>
					<div>
						<label>Adresse Ip : </label> <label th:text="${adresseSwitch}"></label>
					</div>
				</div>
			</div>
			<div class="panel panel-primary" th:if="${switche}">
				<div class="panel-heading">Switches disponibles sur le réseau</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr th:each="o:${listeSwitch}">
							<td><a
								th:href="@{/consulterSwitch?adresseSwitch=}+${o.adressSwitchString}"
								th:text="${o.nameSwitch}"></a></td>
							<td th:text="${o.adressSwitchString}"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary" th:if="${switche}">
				<div class="panel-heading">Configuration du switch</div>
				<div class="panel-body">
					<form th:action="@{/configurerSwitch}" id="configurerSwitch"
						method="post">
						<input type="hidden" name="adresseSwitch"
							th:value="${adresseSwitch}" /> <input type="hidden"
							name="switche" th:value="${switche}" />
						<table class="table table-striped">
							<tr>
								<th>Interfaces</th>
								<th>Type</th>
								<th>Status</th>
							</tr>
							<tr th:each="o:${listInterfaces}">
								<td th:text="${o.nomInterface}"></td>
								<td><select name="selectTypeInterface">
										<option th:value="Eclairage" th:text="Eclairage"
											th:selected="(${o.typeInterface} == 'Eclairage')" />
										<option th:value="Son" th:text="Son"
											th:selected="(${o.typeInterface} == 'Son')" />
										<option th:value="Vidéo" th:text="Vidéo"
											th:selected="(${o.typeInterface} == 'Video')" />
										<option th:value="Défaut" th:text="Défaut"
											th:selected="(${o.typeInterface} == 'Defaut')" />

								</select></td>
								<td><label th:if="${o.statusInterface}" th:text="Up"
									class="text-success"></label> <label
									th:if="!${o.statusInterface}" th:text="Down"
									class="text-danger"></label></td>


							</tr>
						</table>

						<button type="submit" class="btn btn-primary">Modifier la
							configuration</button>
						<div class="text-danger" th:if="${error}"
							th:text="${error.message}"></div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>