<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Config'Switch</title>
	<link rel="stylesheet" type="text/css" 
	href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/MyStyle.css"/>
</head>
<body>

<header>
<div class="navbar navbar-default" align="center">
	<img src="../pictures/dushw-21.png" align="middle" />
	</div>
</header>
<section layout:fragment="content"></section>
<footer>
</footer>
</body>
</html>