<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Config'Switch</title>
	<link rel="stylesheet" type="text/css" 
	href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/MyStyle.css"/>
</head>
<body>

<header class = "blackbody">
<div  id="pictureDushow" align="center">
	<img src="../pictures/dushw-21.png" align="middle" />
	</div>

<div id="listeSwitchHeader" class="blackbody" align="left" th:each="s:${listeSwitch}">
<label  th:id="${s.nameSwitch+'Header'}" th:text="${s.nameSwitch}"></label>
</div>
	<br/><br/>
</header>
<section layout:fragment="content"></section>
<footer>
</footer>
</body>
</html>