@charset "UTF-8";

 @-webkit-keyframes invalid {
    /* from { background-color: currentColor; }
  to { background-color: red; } */
  50% {background-color: red;}
 
}
@-moz-keyframes invalid {
   /* from { background-color: currentColor; }
  to { background-color: red; } */
  50% {background-color: red;}
}
@-o-keyframes invalid {
   /* from { background-color: currentColor; }
  to { background-color: red; } */
  50% {background-color: red;}
}
@keyframes invalid {
    /* from { background-color: currentColor; }
  to { background-color: red; } */
  50% {background-color: red;}
  
}

.invalid {
  -webkit-animation: invalid 1s infinite; Safari 4+
  -moz-animation:    invalid 1s infinite; Fx 5+
  -o-animation:      invalid 1s infinite; Opera 12+
  animation:         invalid 1s infinite; IE 10+
}


/* Coloriage du tableau suivant le type d'interface */

.eclairage {	
	background-color : #C5CEFF;
}

.video {
	background-color : LightYellow;
}

.son {
	background-color : MediumAquaMarine;
}

.defaut {
	background-color : #D3DAD2;
}


.blackbody {
	
	background-color : black ;
}



/* Inverse le tableau en lignes */

tr { display: block; float: left; }
th, td { display: block; }

